body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #2c3e50;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}
